body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
.avatar {
    width: 150px;
    border-radius: 20px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: right;
    background: #f7ede2;
    color: #52796f;
    border-left: 10px solid #84a59d;
    border-bottom: 10px solid #f5cac3;
    border-radius: 20px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

.card:hover{   
    animation-name: myCard;
    animation-duration: 2s;
}

@keyframes myCard {
  from {background-color: #f7ede2; border-left: 10px solid #84a59d;border-bottom: 10px solid #f5cac3;}
  to {background-color: #cad2c5;border-left: 10px solid #f5cac3; border-bottom: 10px solid #84a59d;}
}